<mat-sidenav-container class="side-nav-container">
  <mat-sidenav #sidenav class="left-sidenav" mode="side">
  	<div class="header">
	    <button class="btn btn-common" type="button" mat-button (click)="sidenav.close()">
				<i class="icon material-icons">close</i>
	      <div class="label">Закрыть меню</div>
	    </button>
  	</div>

		<nav class="nav">
		  <a class="link" [routerLink]="['/vote']" routerLinkActive="active">
		    <span class="title">Голосование</span>
		  </a> 

		  <a class="link" [routerLink]="['/results']" routerLinkActive="active">
		    <span class="title">Результаты</span>
		  </a>      
		</nav>

    <div class="copyrights">
      <div class="author">© Sergey Kalinin</div>
      <div class="created-date">2017</div>
    </div>		
  </mat-sidenav>

  <div class="sidenav-content-out">
  	<div class="header">
	    <button class="btn btn-common" type="button" mat-button (click)="sidenav.open()" *ngIf="!stateSidenav.opened">
				<i class="icon material-icons">menu</i>
	      <div class="label">Открыть меню</div>
	    </button>
    </div>

	  <div class="sidenav-content">
	    <router-outlet></router-outlet>
	  </div>
  </div>
</mat-sidenav-container>






