@import "~variables.scss";

.page-inner{

	.intro-area{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;	

		.intro{
			font-weight: bold;
			font-size: 1.2 em;
			padding-bottom: 20px;

		}		
	}

	.line{
		max-width: 400px;
		margin: 0 auto 10px;

		&.colored{
		  box-shadow: 
		  0 3px 1px -2px $red-color, 
		  0 2px 2px 0 $red-color, 
		  0 1px 5px 0 $red-color;
		}

		.title{
			padding-bottom: 20px;

			.mandatory{
				color: red;
				font-weight: bold;
				font-weight: 150%;
			}
		}

		.rb-area{			

			.radio-group{
				display: block;
				width: 100%;

				.radio-button{
					width: 20%;
				}
			}
		}

		.textarea{
			width: calc(100% - 10px);
			display: block;
			padding: 4px;
			border: 1px solid $basic-color;
			min-height: 50px;
			border-radius: 5px;
			outline: none;
		}		

		.slider{
			width: 100%;
		}		

		.cb{
			width: 100%; 
			display: block;		
		}
	}

	.submit-area{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;	

		.btn{
			margin: 20px 0;
			//width: 100%;
			//max-width: 60px;
		}		
	}


}