<div class="page-inner">
	<div class="form" *ngIf="isVisibleForm">
		<div class="intro-area">
			<div class="intro">
				Спасибо за ваши отзывы. Они для нас очень важны.
			</div>
		</div>

		<mat-card class="line" *ngFor="let v of votes; let i = index">
			<div class="title">{{ v.title }}</div>

			<div class="cb-area" *ngIf="v.answers_type == 0">
				<mat-checkbox class="cb" *ngFor="let answer of v.answers">
					{{ answer }}
				</mat-checkbox>
			</div>

			<div class="rb-area">
				<mat-radio-group class="radio-group" *ngIf="v.answers_type == 1" [(ngModel)]="form[v.id]['answer_rb']">
				  <mat-radio-button class="radio-button" 
				  									*ngFor="let answer of v.answers" 
				  									[value]="answer">{{ answer }}
				  </mat-radio-button>
				</mat-radio-group>
			</div>	

			<div class="select-area" *ngIf="v.answers_type == 2">
				<mat-select placeholder="Выберите значение" [(ngModel)]="form[v.id]['answer_select']">
				  <mat-option class="select" *ngFor="let answer of v.answers" [value]="answer">
				    {{ answer }}
				  </mat-option>
				</mat-select>
			</div>			 

			<textarea class="textarea" *ngIf="v.answers_type == 3" [(ngModel)]="form[v.id].textarea"></textarea> 

			<mat-slider class="slider" 
									min="1" 
									max="10" 
									step="1" 
									[(ngModel)]="form[v.id].answer_slider"
									*ngIf="v.answers_type == 4"></mat-slider>
		</mat-card>

		<div class="submit-area">
			<button class="btn btn-common" mat-button (click)="sendAnswers(form)">Отправить</button>
		</div>		
	</div>

	<div class="thanks" *ngIf="!isVisibleForm">
		<span>Вы уже проголосовали. Спасибо.</span>
	</div>
</div>
